<div class="card mt-4">
    <h4 class="card-header">Welcome to eLagoon. Here you can look at our latest auctions!</h4>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="auctions" class="list-group">
            <li *ngFor=" let auction of auctions | paginate: config" class="list-group-item">
                <a [routerLink]="['/auction-detail', auction._id]">
                    <span class="badge badge-info">{{ auction.category }}</span> &nbsp; {{ auction.name }}
                </a>
            </li>
        </ul>
    </div>

    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>