<!-- Unread Mail Notif -->
<div *ngIf="unread" routerLink="/email" class="email-notif">
    <p>{{ unreadCount }} new message(s)</p>
</div>

<div class="search-sec">
    <div class="advanced-search">
        <div style="float: left !important; padding-right: 160px !important;" class="col-lg-3 col-md-3 col-sm-20 p-0">
            <select [(ngModel)]="selectedCategory" (change)="searchByCategory()" class="form-control search-slt"
                id="exampleFormControlSelect1">
                <option disabled hidden>Shop by category</option>
                <option *ngFor="let cat of categories" [ngValue]="cat">{{cat.name}}</option>
            </select>
        </div>
        <form [formGroup]="searchForm" (ngSubmit)="searchSubmit()">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                    <input formControlName="text" type="text" class="form-control search-slt"
                        placeholder="Search for anything">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                    <input formControlName="price" type="text" class="form-control search-slt"
                        placeholder="Maximum price">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                    <input formControlName="location" type="text" class="form-control search-slt"
                        placeholder="Location">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                    <select formControlName="category" class="form-control search-slt" id="exampleFormControlSelect1">
                        <option value="" disabled selected hidden>Category</option>
                        <option></option>
                        <option *ngFor="let cat of categories">
                            {{ cat.name }}
                        </option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <button [disabled]="loading" class="btn btn-danger wrn-btn">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="border-line">
</div>

<!-- Auctions Table -->
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">Name</th>
            <th class="text-center">Current Price</th>
            <th class="text-center">Bids</th>
            <th class="text-right">Country</th>
        </tr>
    </thead>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <tbody *ngIf="auctions" class="table-hover">
        <tr *ngFor="let auction of auctions">
            <td *ngIf=auction>
                <a [routerLink]="['/auction-detail', auction._id]">
                    {{auction.name}}
                </a>
            </td>
            <td *ngIf=auction class="text-center">{{auction.currently}}</td>
            <td *ngIf=auction class="text-center">{{auction.no_bids}}</td>
            <td *ngIf=auction class="text-right">{{auction.country}}</td>
    </tbody>
</table>
<div *ngIf="count === 0" class="no-more">
    You reached the end of the auctions. For more results try altering your criteria.
</div>

<!-- Pagination -->
<div class="pgn pb-0 pt-3">
    <ul class="pagination">
        <li [ngClass]="{disabled:pageN === 1}" class="page-item previous-item">
            <button class="page-link" (click)="previousPage()">Previous</button>
        </li>
        <li class="page-item number-item disabled">
            <a class="page-link">...</a>
        </li>
        <li [ngClass]="{active:pageN === pageN}" class="page-item number-item">
            <a class="page-link">{{pageN}}</a>
        </li>
        <li class="page-item number-item disabled">
            <a class="page-link">...</a>
        </li>
        <li *ngIf="count" class="page-item next-item">
            <button class="page-link" (click)="nextPage()">Next</button>
        </li>
    </ul>
</div>