<div *ngIf="auction">
    <div class="card-body" style="color: black;">
        <!-- Details -->
        <div>
            <label>ID</label>
            <input class="form-control rounded-0" placeholder="{{ auction._id }}" disabled />
        </div>
        <div>
            <label>Name</label>
            <input class="form-control rounded-0" [(ngModel)]="auction.name" placeholder="Name"
                [disabled]="disableEdit(auction)" />
        </div>
        <div>
            <label>Category (Press down ctrl to select multiple categories)</label>
            <p class="form-control rounded-0"> {{auction.category}} </p>
            <select multiple class="form-control rounded-0" [(ngModel)]="auction.category"
                [disabled]="disableEdit(auction)">
                <option *ngFor="let cat of categories">
                    {{ cat.name }}
                </option>
            </select>
        </div>
        <div>
            <label>Location</label>
            <input class="form-control rounded-0" [(ngModel)]="auction.location" placeholder="Location"
                [disabled]="disableEdit(auction)" />
        </div>
        <div>
            <label>Country</label>
            <input class="form-control rounded-0" [(ngModel)]="auction.country" placeholder="Country"
                [disabled]="disableEdit(auction)" />
        </div>
        <div>
            <label>Current Price</label>
            <input class="form-control rounded-0" [(ngModel)]="auction.currently" placeholder="Currently"
                [disabled]="disableEdit(auction)" />
        </div>
        <div>
            <label>Ending Date</label>
            <input class="form-control rounded-0" [(ngModel)]="auction.ends" placeholder="Ends"
                [disabled]="disableEdit(auction)" />
        </div>
        <div>
            <label>Description</label>
            <input class="form-control rounded-0" [(ngModel)]="auction.description" placeholder="Description"
                [disabled]="disableEdit(auction)" />
        </div>

        <!-- Buttons -->
        <div class="buttons-container">
            <button class="btn btn-primary btn-sm" title="start auction" (click)="start()">
                Start
            </button>
            <button class="btn btn-danger btn-sm" title="delete auction" (click)="delete()">
                Delete
            </button>
            <button class="btn btn-warning btn-sm" title="edit auction" (click)="edit()">
                Edit
            </button>
        </div>

        <!-- Bids -->
        <div class="bids-container">
            <h4>Current Bids</h4>
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
            <ul *ngIf="bidsArray" class="bids">
                <li *ngFor="let bid of bidsArray" class="">
                    Amount: {{ bid.amount }} at: {{ bid.time | date:'medium' }}
                </li>
            </ul>
        </div>
    </div>
</div>