.bids {
    margin: 0;
    padding: 0;
}

.bids li {
    padding: 10px 0;
    border-bottom: 2px solid #fff;
    display: flex;
}

.card-body {
    font-weight: normal;
}

input {
    margin-bottom: 10px;
}

.btn-warning {
    float: right;
}

.btn-danger {
    margin-left: 15px;
    float: right;
}

.buttons-container {
    margin-top: 35px;
}

.bids-container {
    margin-top: 60px;
}

.speech-bubble {
	position: relative;
	background: #7ec9d1;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-top-color: #7ec9d1;
	border-bottom: 0;
	margin-left: -28px;
	margin-bottom: -28px;
}

textarea {
    outline: none;
    resize: none;
    background: transparent;
    border: 0 none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #7EC9D2;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}