<!-- <div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <p class="mb-1">New users:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstname}} {{user.lastname}}</li>
        </ul>

        <p>All users:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstname}} {{user.lastname}}</li>
        </ul>

        <p>Download auctions:</p>
        <a href="#">JSON</a>
        <a href="#">XML</a>
    </div>
</div> -->


<div class="container-fluid pt-4">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 ">
            <div class="list-group ">
                <a class="list-group-item list-group-item-action active" style="color: white !important;">Dashboard</a>
                <a routerLink="/admin" class="list-group-item list-group-item-action">All Users</a>
                <a routerLink="/admin" [queryParams]="{ load: 'unverified' }"
                    class="list-group-item list-group-item-action">Unverfied Users</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 border-right">
                            <h4>{{ current }}</h4>
                        </div>
                        <div class="col-md-6">
                            <span class="btn btn-sm btn-primary">{{ count }}</span>
                        </div>
                    </div>

                    <!-- Users -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover ">
                                <thead class="bg-light ">
                                    <tr>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
                                <tbody *ngIf="users">
                                    <tr *ngFor="let user of users; let i = index">
                                        <td>
                                            <a [routerLink]="['users', user._id]">
                                                <small>{{user.username}}</small>
                                            </a>
                                        </td>
                                        <td><small>{{user.firstname}}</small></td>
                                        <td><small>{{user.lastname}}</small></td>
                                        <td><small>{{user.email}}</small></td>
                                        <td>
                                            <a (click)="verifyUser(user, i)"><i class="pr-1 fa fa-thumbs-up"></i></a>
                                            <a (click)="unverifyUser(user)"><i class="pr-2 fa fa-thumbs-down"></i></a>
                                            <a (click)="deleteUser(user, i)"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>