<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>

    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" formControlName="firstname" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">First Name is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" formControlName="lastname" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
            <div *ngIf="f.lastname.errors.required">Last Name is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">E-mail is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" formControlName="phone" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Phone is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName="address" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="city">City</label>
        <input type="text" formControlName="city" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">City is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="afm">AFM</label>
        <input type="text" formControlName="afm" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.afm.errors }" />
        <div *ngIf="submitted && f.afm.errors" class="invalid-feedback">
            <div *ngIf="f.afm.errors.required">AFM is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="role">Role</label>
        <select name="role" formControlName="role" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
            <option value=""></option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        <div *ngIf="submitted && f.role.invalid" class="invalid-feedback">
            <div *ngIf="f.role.errors.required">Role is required</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>