<div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
<ul *ngIf="messages" class="list-group">
    <li *ngFor="let message of messages" (click)="onSelect(message)"
        class="list-group-item list-group-item-action list-group-item-dark border-left-0 border-right-0 rounded-0"
        style="width: 1200px;">
        <div class="email-header">
            {{ message.subject }}
            <span>{{ message.time | date:'short' }}</span>
        </div>
        <div *ngIf="message === selectedMessage">
            <p>{{ message.text }}</p>
            <div *ngIf="message.read" class="seen">
                Seen <img src="../../assets/seen.png" alt="Seen">
            </div>
            <div title="Delete the message" (click)="delete(message)" style="flex: 1;">
                <img src="../../assets/delete_icon.png" alt="Delete" style="width: 22px;">
            </div>
        </div>
    </li>
</ul>