<div class="card mt-4">
    <div>
        <button (click)="onClickToggleForm()" value="Register" class="btn btn-success">Add new auction</button>
    </div>

    <div *ngIf="openform">
        <app-auctionform></app-auctionform>
    </div>
</div>

<div class="card mt-4">
    <ul *ngIf="myAuctions" class="list-group">
        <li *ngFor="let myAuction of myAuctions" class="list-group-item" (click)="onSelect(myAuction)"
            [class.list-group-item-dark]="myAuction === selectedAuction">
            {{ myAuction.name }}
        </li>
    </ul>
</div>
<app-auction-info [auction]="selectedAuction"></app-auction-info>