<div class="card mt-4">
    <div>
        <button (click)="onClickToggleForm()" value="Register" class="btn btn-success">Add new auction</button>
    </div>

    <div *ngIf="openform">
        <div class="card m-3">
            <h5 class="card-header">Angular 8 Template-Driven Form Validation</h5>
            <div class="card-body">

                <form [formGroup]="auctionForm" (ngSubmit)="formSubmit()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="category" formControlName="category" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.category.errors }" />
                        <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                            <div *ngIf="f.category.errors.required">Category is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" formControlName="location" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                            <div *ngIf="f.location.errors.required">Location is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" formControlName="country" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                            <div *ngIf="f.country.errors.required">Country is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="currently">Current Price</label>
                        <input type="text" formControlName="currently" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.currently.errors }"
                            placeholder="Enter a number in Euros" />
                        <div *ngIf="submitted && f.currently.errors" class="invalid-feedback">
                            <div *ngIf="f.currently.errors.required">Current Price is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="started">Starting Date</label>
                        <input type="text" formControlName="started" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.started.errors }" placeholder="MM/DD/YY" />
                        <div *ngIf="submitted && f.started.errors" class="invalid-feedback">
                            <div *ngIf="f.started.errors.required">Starting Date is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ends">Ending Date</label>
                        <input type="text" formControlName="ends" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.ends.errors }" placeholder="MM/DD/YY" />
                        <div *ngIf="submitted && f.ends.errors" class="invalid-feedback">
                            <div *ngIf="f.ends.errors.required">Ending Date is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" formControlName="description" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Description is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>