.center-title {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px; 
    border-bottom: 2px solid #CCCCCC;
    text-align: center;
}

.center-title h3 {
    font-weight: bold;
}

.center {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px; 
    text-align: center;
}

.center-price {
    width: 600px;
    display: block;
    margin-left: 540px;
    margin-right: auto;
    padding-top: 25px; 
    text-align: center;
}

 #price {
    font-weight: bold;
    position: relative;
    float: right;
    top: -43px;
    left: -170px;
    font-size: 1.3rem;
}

#bids {
    position: relative;
    float: right;
    top: -39px;
    left: -40px;
}

.info {
    border: 1px solid #CCCCCC;
    width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 25px; 
    overflow: hidden
}

.info h5 {
    padding-left: 20px;
}

.info p {
    padding-left: 20px;
    padding-top: 10px;
    width: 1000px;
}

.info ul {
    position: relative;
    float: right;
    list-style-type: none;
    padding-right: 40px; 
}

.info label {
    font-size: 1.2rem;
}

.location {
    border: 1px solid #CCCCCC;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px; 
    padding-right: 20px;
    overflow: hidden
}

.location p {
    position: relative;
    top: 150px;
}

.no-location {
    border: 1px solid #CCCCCC;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 20px; 
    padding-right: 20px;
    overflow: hidden
}

.centerbid {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-left: 160px;  
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }

  .left-column {
    width: 65%;
    position: relative;
  }
   
  .right-column {
    width: 35%;
    margin-top: 60px;
  }

  .left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
   
  .left-column img.active {
    opacity: 1;
  }

  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 10px; 
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }

  .product-color {
    margin-bottom: 30px;
    border-bottom: 1px solid #E1E8EE;
    padding-bottom: 20px; 
  }
   
  .color-choose div {
    display: inline-block;
  }

  .cable-choose {
    margin-bottom: 20px;
  }
   
  .cable-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
  }
   
  .cable-choose button:hover,
  .cable-choose button:active,
  .cable-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
  }
   
  .cable-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
   
  .cable-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
  }
  .cable-config a:before {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
  }

  /* Product Price */
.product-price {
    display: flex;
    align-items: center;
  }
   
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
   
  .cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: #64af3d;
  }