.navbar .navbar-nav .nav-link {
    color: rgb(98, 112, 124);
    font-weight: 600;
    margin-left: 20px;
}

.active {
    color: black !important;
}

.allButFooter {
    min-height: calc(100vh - 40px);
}