<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4 fixed-bottom">
    <p>
        <a href="https://www.instagram.com/deandodgers/" target="_blank">Front-end developer</a>
    </p>
    <p>
        <a href="https://www.instagram.com/ektorastav/" target="_blank">Back-end developer</a>
    </p>
</div>