<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin Page</a>
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLink="/manage-auctions">Manage Auctions</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div>
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div style="padding-top: 120px;" class="text-center mt-4 relative-bottom">
    <p>
        <a href="https://www.instagram.com/deandodgers/" target="_blank">Front-end developer</a>
    </p>
    <p>
        <a href="https://www.instagram.com/ektorastav/" target="_blank">Back-end developer</a>
    </p>
</div>