<body>
    <header class="landing-main">
        <div class="showcase-top">
            <a routerLink="/login" class="rounded">Login</a>
        </div>
        <div class="landing-content">
            <h1>Ready to Shop What's Hot?</h1>
            <p>OUT WITH THE OLD. IN WITH THE NEW.</p>
            <a routerLink="/home" class="btn btn-xl">Shop Now &nbsp;&nbsp;&nbsp;></a>
            <a class="signuplink" routerLink="/register">Don't have an account? <u>Register</u></a>
        </div>
    </header>
</body>