.buttons-container {
    margin-top: 35px;
    float: right;
    display: flex;
}

.subject {
    position: absolute;
    left: 340px;
}

.time {
    font-weight: normal;
    font-size: 0.85rem;
    float: right;
}