<body>
    <form #myform="ngForm" (ngSubmit)="register(myform)" class="box">
      <h1>Sign Up</h1>
      
      <input type="text" name="signup_username" placeholder="Username" ngModel>
      <input type="password" name="signup_password" placeholder="Password" ngModel>
      <input type="password" name="signup_password_confirm" placeholder="Confirm Password" ngModel>
      <input type="text" name="signup_firstname" placeholder="First Name" ngModel>
      <input type="text" name="signup_lastname" placeholder="Last Name" ngModel>
      <input type="text" name="signup_email" placeholder="Email" ngModel>
      <input type="text" name="signup_phone" placeholder="Phone" ngModel>
      <input type="text" name="signup_address" placeholder="Address" ngModel>
      <input type="text" name="signup_city" placeholder="City" ngModel>
      <input type="text" name="signup_afm" placeholder="ΑΦΜ" ngModel>

      <input type="submit" name="signup_submit" value="Sign Up">
    </form>
  </body>