<!-- Email Nav-bar -->
<div class="center">
    <div style="margin-right: 20rem;">
        <a [routerLink]="['inbox']" [routerLinkActive]="['active', 'active-second']"
            (click)="folderChoice('inbox')">Inbox</a>
    </div>
    <p style="position: fixed;">/</p>
    <div style="margin-left: 20rem;">
        <a [routerLink]="['sent']" [routerLinkActive]="['active', 'active-second']" (click)="folderChoice('sent')">Sent
            Mail</a>
    </div>
</div>

<!-- Email Router -->
<div class="center">
    <router-outlet></router-outlet>
</div>